.container {
  background-color: rgb(179, 191, 191);
  width: 504px;
  padding: 12px 24px;
}

.nav {
  display: flex;
  gap: 16px;
  font-size: 24px;
}

.link {
  text-decoration: none;
  color: rgb(54, 54, 64);
}

.active {
  color: rgb(151, 26, 39);
}
