ul {
  list-style: none;
  padding: 0;
}
button {
  height: 24px;
}
svg {
  margin-right: 8px;
}
.card {
  border: 1px solid black;
  border-radius: 4px;
  padding: 16px;
  margin-bottom: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.data {
  margin-bottom: 8px;
  font-size: 18px;
}
.data:last-child {
  margin-bottom: 0;
}
